<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<main>
  <!-- 左カラム -->
  <div class = "container px-5 px-sm-0">
    <div class="row">
    <%= render 'books/book', book: @book %>

      <!-- 右カラム：今は空の一覧エリア -->
      <div class="col-8">
        <h2>Books</h2>
        <table class = "table">
            <tr>
              <th></th>
              <th>Title</th> 
              <th>Opinion</th>
            </tr>
            <% @books.each do |book| %>
            <tr>
            <td>
              <% if book.user.image.attached? %>
                <%= image_tag book.user.image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
            </td>
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</main>