<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<main>
  <div class = "container px-5 px-sm-0">
    <div class="row">
      <div class="col-lg-3">
        <% if @book.image.attached? %>
          <%= image_tag @book.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
        <h2>User info</h2>
        <table class="table table-bordered">
          <tr>
            <th>name</th>
            <td><%= current_user.name if current_user %></td>
          </tr>
          <tr>
            <th>introduction</th>
            <td><%= current_user.introduction if current_user %></td>
          </tr>
        </table>
        <h1>New book</h1>
        <%= form_with model: @book do |f| %>
    
          <h4>Title</h4>
          <%= f.text_field :title %>
          
          <h4>Opinion</h4>
          <%= f.text_area :body %>
          
          <%= f.submit 'Submit' %>
    
        <% end %>
      </div>
      <!-- 右カラム：今は空の一覧エリア -->
      <div class="col-lg-9">
        <h2>Books</h2>
        <table>
        <tr>
          <th>Title</th> 
          <th>Opinion</th>
        </tr>
        </table>
        <p class="text-muted">まだ投稿はありません。</p>
      </div>
    </div>
  </div>
</main>