<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
  <main>
    <%= render 'book', book: @book %>

      <!--右ページ-->
      <div class="col-lg-9">
       <h2>Book detail</h2>
       <table>
            <% @books.each do |book| %>
            <tr>
              <td>
                <% if book.user.image.attached? %>
                  <%= image_tag book.user.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
                <p><%= link_to book.user.name, user_path(book.user) %></p>
              </td>
              <td><%= link_to book.title, user_path(book.user) %></td>
              <td><%= book.body %></td>

              <% if current_user == book.user %>
              <td><%= link_to 'Edit', edit_book_path(book) %></td>
              <td>
              <%= link_to 'Destroy', book_path(book), method: :delete, data: { confirm: '本当に消しますか？' } %>
              </td>
             <% end %>
            </tr>
         <% end %>
        </table>